body{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.minhagaleria{
    margin:auto;
    background-image: linear-gradient(to left, lightblue, lightskyblue, #2263c3);
    color: black;
    padding: 0.4rem;
    width: 98%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.video{
    margin: auto;
    width: 50%;
    display: block;
}

.ola{
    margin:auto;
    font-size: larger;
    width: 98%;
    border: 0.2rem solid #000000;
    padding: 0.4rem;
    text-align: center;                       
    background: lightblue;
}

.fotos123{
    width: 30%;
    display: inline-block;
    float: none;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    text-indent: 0;
    border: silver solid;
    margin: 0.5rem;
    padding: 0.5rem;
    margin-left: 1%;
    box-shadow: 0.2rem 0.2rem 0.2rem #eee;
}

.foto4{
    width: 30%;
    display: inline-block;
    float: none;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    text-indent: 0;
    border: silver solid;
    margin: 0.5rem;
    padding: 0.5rem;
    margin-left: 13%;
    margin-top: 2.5rem;    
    box-shadow: 0.2rem 0.2rem 0.2rem #eee;
}

.foto5{
    width: 30%;
    display: inline-block;
    float: none;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    text-indent: 0;
    border: silver solid;
    margin: 0.5rem;
    padding: 0.5rem;
    margin-left: 10%;    
    box-shadow: 0.2rem 0.2rem 0.2rem #eee;
}





